<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ✅ Bean Configuration -->
    <bean id="s1" class="cs.stud.Stud">
        <property name="id" value="101"/>
        <property name="name" value="Satyam Singh"/>
        <property name="mobno" value="9845XXXXXX"/>
    </bean>

</beans>
